---
import { siteName, siteUrl } from 'site-setting';

interface Props {
  title: string;
  description: string;
  path?: string;
}

const { title, description, path = '' } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <!-- Open Graph / Facebook -->
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content=`${siteUrl}/${path}` />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="/ogp.png" />
  <meta property="og:site-name" content={siteName} />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content=`${siteUrl}/${path}` />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:image" content="/ogp.png" />
  <meta property="twitter:description" content={description} />
  <!-- icon -->
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="generator" content={Astro.generator} />
</head>
